@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Space+Grotesk:wght@300;500;700&display=swap');

:root {
    --primary: #00ffcc; /* Cyan néon */
    --secondary: #bd00ff; /* Violet électrique */
    --bg-dark: #050505;
    --card-bg: rgba(10, 10, 10, 0.95);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark);
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    /* Ambiance Radar / Grille */
    background-image: 
        linear-gradient(rgba(189, 0, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(189, 0, 255, 0.03) 1px, transparent 1px),
        radial-gradient(circle at center, #1a0b2e 0%, #000 100%);
    background-size: 40px 40px, 40px 40px, cover;
    text-transform: uppercase;
}

/* Container de la page Register */
.register-container, form {
    position: relative;
    background: var(--card-bg);
    padding: 45px;
    border: 1px solid #2a1b3d;
    box-shadow: 0 0 60px rgba(189, 0, 255, 0.1);
    width: 400px;
    /* Découpe symétrique pour un look d'armure */
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

/* Coins HUD (Signature du salon) */
form::before, form::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid var(--secondary);
    pointer-events: none;
}
form::before { top: 5px; left: 5px; border-right: 0; border-bottom: 0; }
form::after { bottom: 5px; right: 5px; border-left: 0; border-top: 0;}