body {
    font-family: sans-serif;
    background: #f5f5f5;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: black;
    color: white;
    cursor: pointer;
}

.item {
    display: block;
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
