body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    width: 150px;
}

.mid {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
}

.menu {
    /*width: 20%;*/
}

.content {
    /*width: 80%;*/
}